.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
  }

  body {
    background-image: url("images/gifbg.gif");
    background-repeat: no-repeat;
    background-size: auto;
  }