@font-face {
  font-family: Pixel;
  src: url(../MP2_WEBDEV/font/Perfect\ DOS\ VGA\ 437.ttf);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
  }

  body {
    background-image: url("images/gifbg.gif");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Pixel;
  }

  button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ffc400;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    font-family: Pixel;
   }

   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: #fcf802;
   }
   
   button::after {
    right: -10px;
    background: #646607;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   button span {
    color: #f34d00;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

   .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

